<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Обзор-данных" data-toc-modified-id="Обзор-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Обзор данных</a></span></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Пропуски-значений" data-toc-modified-id="Пропуски-значений-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Пропуски значений</a></span></li><li><span><a href="#Артефакты" data-toc-modified-id="Артефакты-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Артефакты</a></span></li><li><span><a href="#Типы-данных" data-toc-modified-id="Типы-данных-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Типы данных</a></span></li><li><span><a href="#Дубликаты" data-toc-modified-id="Дубликаты-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Дубликаты</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Категоризация данных</a></span></li></ul></li><li><span><a href="#Проверка-гипотез" data-toc-modified-id="Проверка-гипотез-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Проверка гипотез</a></span><ul class="toc-item"><li><span><a href="#Зависимость-между-количеством-детей-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-количеством-детей-и-возвратом-кредита-в-срок-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Зависимость между количеством детей и возвратом кредита в срок</a></span></li><li><span><a href="#Зависимость-между-семейным-положением-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-семейным-положением-и-возвратом-кредита-в-срок-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Зависимость между семейным положением и возвратом кредита в срок</a></span></li><li><span><a href="#Зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Зависимость между уровнем дохода и возвратом кредита в срок</a></span></li><li><span><a href="#Зависимость-между-целью-кредита-и-возвратом-кредита-в-срок" data-toc-modified-id="Зависимость-между-целью-кредита-и-возвратом-кредита-в-срок-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Зависимость между целью кредита и возвратом кредита в срок</a></span></li></ul></li><li><span><a href="#Итоги-исследования" data-toc-modified-id="Итоги-исследования-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Итоги исследования</a></span></li></ul></div>

# Исследование кредитоспособности заёмщиков

Исследование выполняется для банка. Целью является выявление влияния семейного положения и количества детей у заёмщика на его или её платёжеспособность. Результаты исследования необходимы для построения модели кредитного скоринга.

Основная задача в рамках данного учебного проекта — выполнить полную предобработку данных. Выявление упомянутого выше влияния — скорее формальная задача.

## Обзор данных

Сохраним полученную от заказчика таблицу со статистикой платёжеспособности клиентов в переменную `solvency` и просмотрим её первые 10 строк.

(этот проект выполнялся локально, поэтому, чтобы не возникло проблем с путём к датасету, мы загрузили его в гугл-таблицу и дальше уже работали с ней)

In [1]:
import pandas as pd
from io import BytesIO
import requests

spreadsheet_id = '1AgW0rFmv44WafQiuOppcoghodTj4P_qS6ebJ4piaovk'
file_name = f'https://docs.google.com/spreadsheets/d/{spreadsheet_id}/export?format=csv'
r = requests.get(file_name)
solvency = pd.read_csv(BytesIO(r.content))

display(solvency.head(10))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

Из описания проекта известны обозначения столбцов:

`children` — количество детей в семье;

`days_employed` — общий трудовой стаж в днях;

`dob_years` — возраст клиента в годах;

`education` — уровень образования клиента; 

`education_id` — идентификатор уровня образования;

`family_status` — семейное положение;

`family_status_id` — идентификатор семейного положения;

`gender` — пол клиента;

`income_type` — тип занятости;

`debt` — имел ли задолженность по возврату кредитов;

`total_income` — ежемесячный доход;

`purpose` — цель получения кредита.

Уже заметны артефакты и неявные дубликаты в таблице. Так, в некоторых строках из столбца `days_employed` представлены отрицательные значения. Это странно, поскольку стаж не может быть отрицательным. Кроме того, в том же столбцы есть неожиданно большие значения стажа (больше 340 тысяч дней).

Неявные дубликаты видны в столбцах `education` и `purpose`. В первом случае дело в регистре, во втором случае расходятся формулировки (н-р, "на проведение свадьбы" = "сыграть свадьбу").

Просмотрим информацию о таблице.

In [2]:
solvency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  object
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.0+ MB

Заметны пропуски в столбцах `days_employed` и `total_income`.

В ходе предобработки данных придётся изменить тип столбца `children`. В таблице он строковый, хотя должен быть целочисленный. Это критично: если мы захотим ввести количество детей в модель оценки кредитоспособности, то этот показатель нам нужен будет именно в числовом формате.

**Промежуточные выводы:**

1. Оформление таблицы данных корректное: столбцы названы понятно, стиль соблюден.
2. В данных сразу заметен ряд проблем: пропуски, артефакты, неудобные тип данных, дубликаты.

## Предобработка данных

### Пропуски значений

<a id='omissions_share'></a>
Как мы уже говорили, в столбцах `days_employed` и `total_income` есть пропуски — для некоторых клиентов пропущены значения стажа и ежемесячного дохода, т.е. количественные переменные. Рассчитаем долю пропусков в общем количестве значений в этих столбцах:

In [3]:
days_employed_nan_share = solvency['days_employed'].isna().sum() / len(solvency['days_employed'])
total_income_nan_share = solvency['total_income'].isna().sum() / len(solvency['total_income'])

print('Количество пропусков в стоблце стажа:', solvency['days_employed'].isna().sum())
print(f'Доля пропусков в столбце стажа: {days_employed_nan_share:.1%}')
print('Количество пропусков в стоблце ежемесячного дохода:', solvency['total_income'].isna().sum())
print(f'Доля пропусков в столбце ежемесячного дохода: {total_income_nan_share:.1%}')

Количество пропусков в стоблце стажа: 2174
Доля пропусков в столбце стажа: 10.1%
Количество пропусков в стоблце ежемесячного дохода: 2174
Доля пропусков в столбце ежемесячного дохода: 10.1%

Одинаковое количество пропусков в столбцах заставляет предположить, что их возникновение носит системный характер. Проверим, всегда ли пропуск в столбце `days_employed` сочетается с пропуском в столбце `total_income`. Для этого найдём количество строк, в которых пропуски есть в обоих столбцах, и сравним его с количеством строк с пропусками вообще.

In [4]:
len(solvency[solvency['days_employed'].isna() & solvency['total_income'].isna()])

2174

Количество строк с пропусками в обоих столбцах совпадает с общим количеством строк с пропусками. **Значит, всегда, когда есть пропуск в столбце стажа, отсутствует и значение в столбце ежемесячного дохода.**

Как можно это объяснить? Попробуем найти связь пропусков с другими столбцами. Просмотрим первые 15 строк таблицы, содержащей только строки с пропусками.

In [5]:
solvency[solvency['total_income'].isna()].head(15)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости
41,0,NaN,50,среднее,1,женат / замужем,0,F,госслужащий,0,NaN,сделка с подержанным автомобилем
55,0,NaN,54,среднее,1,гражданский брак,1,F,пенсионер,1,NaN,сыграть свадьбу
65,0,NaN,21,среднее,1,Не женат / не замужем,4,M,компаньон,0,NaN,операции с коммерческой недвижимостью
67,0,NaN,52,высшее,0,женат / замужем,0,F,пенсионер,0,NaN,покупка жилья для семьи
72,1,NaN,32,высшее,0,женат / замужем,0,M,госслужащий,0,NaN,операции с коммерческой недвижимостью
82,2,NaN,50,высшее,0,женат / замужем,0,F,сотрудник,0,NaN,жилье
83,0,NaN,52,среднее,1,женат / замужем,0,M,сотрудник,0,NaN,жилье
90,2,NaN,35,высшее,0,женат / замужем,0,F,сотрудник,0,NaN,операции с жильем
94,1,NaN,34,высшее,0,гражданский брак,1,F,компаньон,0,NaN,на проведение свадьбы
96,0,NaN,44,СРЕДНЕЕ,1,женат / замужем,0,F,сотрудник,0,NaN,покупка жилой недвижимости
97,0,NaN,47,высшее,0,женат / замужем,0,F,сотрудник,0,NaN,профильное образование
120,0,NaN,46,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,высшее образование

Очевидных взаимосвязей между пропусками и значениями в других столбцах нет. Остаётся только искать общее между стажем и ежемесячным доходом.

Наиболее вероятными представляются следующие объяснения: <a id='omissions_reason'></a>

1. **Ошибка при формировании выгрузки**. Скорее всего, пропуски возникли из-за технической ошибки. Объяснения, связанные с содержанием столбцов `days_employed` и `total_income`, звучат менее убедительно (хотя могут быть применимы к отдельным ячейкам — см. п. 2). В какой момент могла возникнуть эта проблема? Вероятно, при формировании выгрузки. Трудно представить себе ситуацию, в которой такие важные с точки выдачи кредита показатели, как стаж и ежемесячный доход, отсутствовали бы во внутренней базе данных банка. Если бы технический сбой произошёл на этапе ввода данных в эту базу, то его бы уже точно заметили и починили. Попробуем определить конкретную причину возникшей ошибки. Если обратить внимание на формат значений в столбцах `days_employed` и `total_income`, можно заметить, что в обоих должны быть числа с плавающей точкой. Возможно, пропуски связаны с тем, что сотрудник, заносивший данные о клиенте, использовал в качестве десятичного разделителя запятую, а не точку. Иными словами, пропуски могут быть связаны с *форматом десятичного разделителя*. При формировании выгрузки значения с некорректным разделителем могли быть распознаны неверно и заменены пропусками. 


2. **Соображения конфиденциальности**. Некоторые пропуски могут быть связаны со стремлением сохранить анонимность клиента при передаче его данных для построения модели скоринга. В принципе, зная род занятий, семейный статус, уровень образования, количество детей, длительность стажа и размер дохода, можно определить личности некоторых клиентов. Это касается главным образом крупных чиновников.

**Как решить проблему наличия пропусков?** <a id='median_usage'></a>

Пропуски в столбцах `days_employed` и `total_income` встречаются в достаточной большой доле строк (более 10%, см. [выше](#omissions_share)), поэтому просто удалить их было бы неразумно. Нужен заполнитель.

Поскольку значения в этих столбцах относятся к категории количественных, заполнять их следует, используя данные из других, непустых строк. Для этого лучше подойдёт медианное, а не среднее значение. Дело в том, что диапазон возможных значений стажа и дохода очень велик, следовательно, разброс значений может быть большой (иными словами, вполне разумно ожидать большой дисперсии этих значений в выборке). По этой причине среднее арифметическое не будет являться характерным значением для выборки. Большей репрезентативностью обладает здесь медиана.

Само заполнение пропусков кажется целесообразным проводить *после того, как будут устранены встречающиеся в них артефакты* (отрицательные значения, неожиданно большие значения). Так медианные значения будут более характерны для выборки.

### Артефакты

На этапе обзора данных были выявлены два типа артефактов в столбце `days_employed` — отрицательные значения и неожиданно большие значения стажа. Проверим, есть ли подобные артефакты в столбце `total_income`. Затем вернёмся к столбцу `days_employed`, устраним артефакты и пропуски, а уже потом рассмотрим столбцы с целочисленными и строковыми значениями.

Усложнять логику просмотра столбцов приходится за тем, чтобы поскорее разобраться с пропусками в столбцах `days_employed` и `total_income`. 

Выведем на экран 10 первых значений из столбца `total_income`, отсортированного по убыванию.

In [6]:
solvency['total_income'].sort_values(ascending=False).head(10)

12412    2.265604e+06
19606    2.200852e+06
9169     1.726276e+06
20809    1.715018e+06
17178    1.711309e+06
17503    1.597613e+06
18368    1.551153e+06
18353    1.427934e+06
15268    1.350246e+06
11071    1.286281e+06
Name: total_income, dtype: float64

Теперь выведем 10 последних значений из того же столбца.

In [7]:
solvency['total_income'].sort_values(ascending=False).tail(10)

21415   NaN
21423   NaN
21426   NaN
21432   NaN
21463   NaN
21489   NaN
21495   NaN
21497   NaN
21502   NaN
21510   NaN
Name: total_income, dtype: float64

Артефактов, которые встречались нам в столбце `days_employed`, не выявлено. Можно заполнить пропуски медианным значением по столбцу. Сделаем это.

Медиану по столбцу сохраним в переменную `total_income_median`. Это значение нам ещё понадобится в будущем.

In [8]:
total_income_median = solvency['total_income'].median()
solvency.loc[:, 'total_income'] = solvency['total_income'].fillna(total_income_median)

Рассчитаем медианы дохода в зависимости от типа источника дохода. Для этого напишем функцию `get_median_by_type`, протестируем её и только потом уже применим к датасету.

In [9]:
def get_median_by_type(df, values_column, types_column):    
    medians = [
        df[df[types_column] == certain_type][values_column].median() for certain_type in df[types_column].unique()
    ]
    return dict(zip(df[types_column].unique(), medians))


test_df = pd.DataFrame({
    'value_column': [1, 2, 3, 4, 5, 6],
    'type_column': ['A', 'B', 'A', 'B', 'A', 'B']
})

get_median_by_type(test_df, 'value_column', 'type_column')

{'A': 3.0, 'B': 4.0}

In [10]:
for certain_type in solvency['income_type'].unique():
    solvency.loc[solvency['income_type'] == certain_type, 'total_income'] = (solvency.query('income_type == @certain_type')['total_income']
     .fillna(get_median_by_type(df=solvency, values_column='total_income', types_column='income_type')[certain_type]))

**Обработка артефактов в столбце `days_employed`**

Начнём с обработки аномально больших значений.

В ходе обзора данных мы видели положительные аномально большие значения. Проверим, бывают ли таковыми отрицательные значения стажа. Запишем в переменную `solvency_negative` строки с отрицательными значениями стажа, отсортируем полученную таблицу по возрастанию и выведем 5 первых строк столбца `days_employed` (то есть 5 строк с наибольшим по модулю значением стажа).

In [11]:
solvency_negative = solvency[solvency['days_employed'] < 0]
solvency_negative['days_employed'].sort_values().head()

16335   -18388.949901
4299    -17615.563266
7329    -16593.472817
17838   -16264.699501
16825   -16119.687737
Name: days_employed, dtype: float64

Переведём наибольший по модулю отрицательный стаж в года. <a id='biggest_negative'></a>

In [12]:
print(f'Самый длительный отрицательный стаж: {-18388.949901 / 365:.1f} лет')

Самый длительный отрицательный стаж: -50.4 лет

Это значение трудно назвать аномально большим по модулю.

Теперь убедимся, что положительные аномально большие значения действительно аномально большие. Сохраним в переменной `solvency_positive` строки с неотрицательными значениями в столбце `days_employed`, затем отсортируем полученную таблицу по убыванию и выведем на экран первые 5 строк из столбца стажа.

In [13]:
solvency_positive = solvency[solvency['days_employed'] >= 0]
solvency_positive['days_employed'].sort_values(ascending=False).head()

6954     401755.400475
10006    401715.811749
7664     401675.093434
2156     401674.466633
7794     401663.850046
Name: days_employed, dtype: float64

А теперь последние 5 наименьших неотрицательных значений стажа: <a id='min_positive_calc'></a>

In [14]:
solvency_positive['days_employed'].sort_values(ascending=False).tail()

7229     328827.345667
14783    328795.726728
17782    328771.341387
9328     328734.923996
20444    328728.720605
Name: days_employed, dtype: float64

Сохраним минимальный положительный срок стажа в переменную `min_positive_employes`, а затем переведём его в года:

In [15]:
min_positive_employed = 328728.720605
min_positive_employed / 365

900.6266317945204

900 лет — неправдоподобно большой срок стажа. Получается, все положительные значения представляют собой артефакты. Попробуем найти этому объяснения. Посмотрим, какие значения в других столбцах соответствуют положительной величине стажа.

In [16]:
solvency_positive.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
24,1,338551.952911,57,среднее,1,Не женат / не замужем,4,F,пенсионер,0,290547.235997,операции с коммерческой недвижимостью
25,0,363548.489348,67,среднее,1,женат / замужем,0,M,пенсионер,0,55112.757732,покупка недвижимости
30,1,335581.668515,62,среднее,1,женат / замужем,0,F,пенсионер,0,171456.067993,операции с коммерческой недвижимостью
35,0,394021.072184,68,среднее,1,гражданский брак,1,M,пенсионер,0,77805.677436,на проведение свадьбы
50,0,353731.432338,63,среднее,1,женат / замужем,0,F,пенсионер,0,92342.730612,автомобили
56,0,370145.087237,64,среднее,1,вдовец / вдова,2,F,пенсионер,0,149141.043533,образование
71,0,338113.529892,62,среднее,1,женат / замужем,0,F,пенсионер,0,43929.696397,автомобили
78,0,359722.945074,61,высшее,0,женат / замужем,0,M,пенсионер,0,175127.646000,сделка с автомобилем

Во всех выведенных 10 строках таблицы с положительными значениями стажа одно и то же значение в столбце `income_type` — 'пенсионер'. Проверим, какие ещё типы занятости встречаются в этой таблице.

In [17]:
solvency_positive['income_type'].unique()

array(['пенсионер', 'безработный'], dtype=object)

Теперь выясним, встречаются ли безработные и пенсионеры, чей стаж отрицательный.

In [18]:
print('Количество пенсионеров с отрицательным стажем:',
      solvency_negative[solvency_negative['income_type'] == 'пенсионер']['income_type'].count()
     )
print('Количество безработных с отрицательным стажем:',
      solvency_negative[solvency_negative['income_type'] == 'безработный']['income_type'].count()
     )

Количество пенсионеров с отрицательным стажем: 0
Количество безработных с отрицательным стажем: 0

Таким образом, *аномально большой стаж всегда связан с типом занятости клиента*. Если стаж аномально велик, то клиент — пенсионер или безработный. Верна и обратная логика: если клиент — безработный или пенсионер, то его стаж будет аномально велик. На этом основании можно с высокой долей уверенности утверждать, что аномально большие значения стажа связаны с *ошибками в процедуре расчёта его длительности для пенсионеров и безработных*.

Кажется, сбой возникает на этапе формирования выгрузки. Это предположение основано на тех же утверждениях, что и в случае с [пропусками](#omissions_reason).

Есть впечатление, что ошибка состоит в том, что длительность стажа приведена в часах, а не в днях. Проверим эту гипотезу. Сначала разделим *минимальное* положительное значение стажа на (365*24). Если гипотеза верна, то таким образом мы получим величину стажа в годах.

In [19]:
min_positive_employed / (365*24)

37.52610965810502

37,5 лет — вполне возможная длительность стажа. Теперь следует проверить, нет ли в таблице `solvency_positive` клиентов моложе 37,5 лет. Если такие есть, то гипотеза не верна: превышание стажа над возрастом невозможно.

In [20]:
younger_than_employed = solvency_positive[(solvency_positive['dob_years'] > 0) & (solvency_positive['dob_years'] < min_positive_employed / (365*24))]['dob_years'].count()
print(f'Количество клиентов, чей возраст меньше минимального стажа: {younger_than_employed}')

Количество клиентов, чей возраст меньше минимального стажа: 25

Гипотеза о том, что аномально большие значения стажа выражены в часах, оказалась неверна.

Теперь узнаем, какую долю составляют строки с аномально большими значениями стажа среди всех строк, у которых в столбце `days_employed` не стоит пропуск. Делитель рассчитаем при помощи метода `count()` — он по умолчанию считает только непустые строки.

In [21]:
positive_lines_share = solvency[solvency['days_employed'] > 0]['days_employed'].count() / solvency['days_employed'].count()

print(f'Доля непустых строк с отрицательным значением стажа: {positive_lines_share:.1%}')

Доля непустых строк с отрицательным значением стажа: 17.8%

Аномально большие значения составляют более 17% всех непустых строк в столбце стажа. Удалять их не стоит, иначе будет потеряно много данных. Кроме того, значение стажа не актуально в контексте задачи по оценке влияния семейного положения и количества детей на кредитоспособность. Поэтому мы можем смело заменить аномально большие значения на медиану по столбцу `days_employed` (о причине использования медианы, а не средней арифметической, говорилось [выше](#median_usage)).

Теперь разберёмся с отрицательными значениями стажа. Как мы могли видеть [ранее](#biggest_negative), аномально больших значений по модулю среди них нет.

Скорее всего, отрицательные значения возникли из-за того, что в формуле для их расчёта перепутаны местами уменьшаемое и вычитаемое: на месте уменьшаемого стоит более ранняя дата (если стаж не прерывался, то это будет дата начала стажа), а на месте вычитаемого — более поздняя дата (если стаж не прерывался, то это всегда будет дата обращения клиента в банк).

Выходит, с отрицательными значениями стажа не связано никаких аномалий, кроме собственно отрицательности. Чтобы привести их к приемлемому формату, можно просто убрать знак минус перед каждым из значений. Сделаем это, умножив все отрицательные значения в столбце `days_employed` на (-1).

In [22]:
solvency.loc[solvency['days_employed'] < 0, 'days_employed'] =  solvency[solvency['days_employed'] < 0]['days_employed']*(-1)

Теперь можно рассчитать медиану по столбцу стажа. Аномально большие значения мы исключим из расчёта.

In [23]:
test_df = solvency[solvency['days_employed'].isna()][:5]
test_df

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,145017.937533,сыграть свадьбу
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,145017.937533,образование
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,145017.937533,строительство жилой недвижимости
41,0,NaN,50,среднее,1,женат / замужем,0,F,госслужащий,0,145017.937533,сделка с подержанным автомобилем
55,0,NaN,54,среднее,1,гражданский брак,1,F,пенсионер,1,145017.937533,сыграть свадьбу

In [24]:
import numpy as np
import math

age1 = 0
age2 = 30

print(solvency[(
            solvency['dob_years'] >= age1
        ) & (
            solvency['dob_years'] < age2
        )]['days_employed'].median())

def median_days_employed(row, age1, age2):
    if age1 <= row['dob_years'] < age2 and math.isnan(row['days_employed']):
        return solvency[(
            solvency['dob_years'] >= age1
        ) & (
            solvency['dob_years'] < age2
        )]['days_employed'].median()
    return row['days_employed']


    

display(test_df.apply(median_days_employed, axis=1, age1=0, age2=70))

1015.3954505009738

12    2164.341489
26    2164.341489
29    2164.341489
41    2164.341489
55    2164.341489
dtype: float64

In [25]:
math.isnan(test_df.loc[12,'days_employed'])

True

In [26]:
days_employed_median = solvency[solvency['days_employed'] < min_positive_employed]['days_employed'].median()
days_employed_median

1630.0408997010547

Заменим медианой пропуски и аномально большие значения в столбце `days_employed`. Значение `min_positive_employed` приведём к целым числам, чтобы не возникали проблемы с невключением граничного значения, вызванные округлениями при его [расчёте](#min_positive_calc).

In [27]:
solvency.loc[:, 'days_employed'] = solvency['days_employed'].fillna(days_employed_median)
solvency.loc[solvency['days_employed'] >= int(min_positive_employed), 'days_employed'] = days_employed_median

Проверим, успешно ли устранены пропуски.

In [28]:
solvency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  object
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.0+ MB

Пропусков в таблице больше нет. Теперь выведем 5 наибольших значения в столбце и 5 наименьших значений по столбцу `days_employed`, чтобы проверить, успешно ли из него устранены артефакты.

In [29]:
display(solvency['days_employed'].sort_values(ascending=False).head())
display(solvency['days_employed'].sort_values(ascending=False).tail())

16335    18388.949901
4299     17615.563266
7329     16593.472817
17838    16264.699501
16825    16119.687737
Name: days_employed, dtype: float64

2127     34.701045
9683     33.520665
6157     30.195337
8336     24.240695
17437    24.141633
Name: days_employed, dtype: float64

Артефакты в столбце `days_employed` устранены успешно.

**Обработка артефактов в целочисленных столбцах**

Целочисленные столбцы — это `education_id`, `family_status_id`, `debt` и `dob_years`.

Сначала проверим, есть ли артефакты в столбцах с предположительно малым разнообразием значений. Выведем на экран уникальные значения столбцов `education_id`, `family_status_id` и `debt`.

In [30]:
print('Уникальные значения в столбце education_id:', solvency['education_id'].unique())
print('Уникальные значения в столбце family_status_id:', solvency['family_status_id'].unique())
print('Уникальные значения в столбце debt:', solvency['debt'].unique())

Уникальные значения в столбце education_id: [0 1 2 3 4]
Уникальные значения в столбце family_status_id: [0 1 2 3 4]
Уникальные значения в столбце debt: [0 1]

В этих столбцах артефактов нет.

Теперь посмотрим 5 первых значений из столбца возраста, отсортированного по убыванию.

In [31]:
solvency['dob_years'].sort_values(ascending=False).head()

8880     75
4895     74
2557     74
3460     74
12317    74
Name: dob_years, dtype: int64

Выведем 5 последних значений из того же столбца.

In [32]:
solvency['dob_years'].sort_values(ascending=False).tail()

578      0
8672     0
2469     0
1890     0
14514    0
Name: dob_years, dtype: int64

0 лет — явно некорректное значение возраста. Посмотрим, есть ли в этом столбце ещё значения, которые меньше 18 лет (именно с этого возраста в России можно брать кредит), и сколько раз они встречаются.

In [33]:
solvency[solvency['dob_years'] < 18]['dob_years'].value_counts()

0    101
Name: dob_years, dtype: int64

Получается, в столбце `dob_years` присутствует только один вид некорректных значений — нули. Посмотрим, нет ли закономерности в появлении нуля в столбце возраста. Для этого выведем на экран первые 10 строк, в которых значение возраста — 0.

In [34]:
solvency[solvency['dob_years'] == 0].head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
99,0,1630.040900,0,Среднее,1,женат / замужем,0,F,пенсионер,0,71291.522491,автомобиль
149,0,2664.273168,0,среднее,1,в разводе,3,F,сотрудник,0,70176.435951,операции с жильем
270,3,1872.663186,0,среднее,1,женат / замужем,0,F,сотрудник,0,102166.458894,ремонт жилью
578,0,1630.040900,0,среднее,1,женат / замужем,0,F,пенсионер,0,97620.687042,строительство собственной недвижимости
1040,0,1158.029561,0,высшее,0,в разводе,3,F,компаньон,0,303994.134987,свой автомобиль
1149,0,934.654854,0,среднее,1,женат / замужем,0,F,компаньон,0,201852.430096,покупка недвижимости
1175,0,1630.040900,0,среднее,1,женат / замужем,0,F,пенсионер,0,313949.845188,получение дополнительного образования
1386,0,5043.219890,0,высшее,0,женат / замужем,0,M,госслужащий,0,240523.618071,сделка с автомобилем
1890,0,1630.040900,0,высшее,0,Не женат / не замужем,4,F,сотрудник,0,145017.937533,жилье
1898,0,1630.040900,0,среднее,1,вдовец / вдова,2,F,пенсионер,0,127400.268338,на покупку автомобиля

Не просматривается никаких связей между нулевым возрастом и значениями в других столбцах соответствующих строк. Скорее всего, нули возникли в таблице из-за ошибки при вводе данных. Например, сотрудник банка мог просто забыть заполнить графу "Возраст". 

Строк, содержащих нули в столбце возраста, относительно немного, поэтому их удаление из таблицы не повлияет на качество данных. Удалим их, предварительно собрав соответствующие им индексы в переменную `dob_rows_to_drop_indeces`. Сразу же проверим, остались ли строки с нулевым значением возраста.

In [35]:
dob_rows_to_drop_indeces = solvency.index[solvency['dob_years'] == 0].tolist()
solvency = solvency.drop(labels=dob_rows_to_drop_indeces).reset_index(drop=True)
print('Количество строк с нулевым значением возраста:', solvency[solvency['dob_years'] == 0]['dob_years'].count())

Количество строк с нулевым значением возраста: 0

Артефакты в столбце `dob_years` успешно устранены.

**Обработка артефактов в строковых столбцах** <a id='unique_values_str'></a>

Строковые столбцы — это `children`, `education`, `family_status`, `gender`, `income_type` и `purpose`. Выведем на экран списки их уникальных значений.

In [36]:
separator = '-'
print('Уникальные значения в столбце children:', solvency['children'].unique(), end=f'\n {separator*100} \n')
print('Уникальные значения в столбце education:', solvency['education'].unique(), end=f'\n {separator*100} \n')
print('Уникальные значения в столбце family_status:', solvency['family_status'].unique(), end=f'\n {separator*100} \n')
print('Уникальные значения в столбце gender:', solvency['gender'].unique(), end=f'\n {separator*100} \n')
print('Уникальные значения в столбце income_type:', solvency['income_type'].unique(), end=f'\n {separator*100} \n')
print('Уникальные значения в столбце purpose:', solvency['purpose'].unique())

Уникальные значения в столбце children: ['1' '0' '3' '2' '−1' '4' '20' '5']
 ----------------------------------------------------------------------------------------------------
Уникальные значения в столбце education: ['высшее' 'среднее' 'Среднее' 'СРЕДНЕЕ' 'ВЫСШЕЕ' 'неоконченное высшее'
 'начальное' 'Высшее' 'НЕОКОНЧЕННОЕ ВЫСШЕЕ' 'Неоконченное высшее'
 'НАЧАЛЬНОЕ' 'Начальное' 'Ученая степень' 'УЧЕНАЯ СТЕПЕНЬ'
 'ученая степень']
 ----------------------------------------------------------------------------------------------------
Уникальные значения в столбце family_status: ['женат / замужем' 'гражданский брак' 'вдовец / вдова' 'в разводе'
 'Не женат / не замужем']
 ----------------------------------------------------------------------------------------------------
Уникальные значения в столбце gender: ['F' 'M' 'XNA']
 ----------------------------------------------------------------------------------------------------
Уникальные значения в столбце income_type: ['сотрудник' 'пенсионер' 'компаньон' 'госслужащий' 'безработный'
 'предприниматель' 'студент' 'в декрете']
 ----------------------------------------------------------------------------------------------------
Уникальные значения в столбце purpose: ['покупка жилья' 'приобретение автомобиля' 'дополнительное образование'
 'сыграть свадьбу' 'операции с жильем' 'образование'
 'на проведение свадьбы' 'покупка жилья для семьи' 'покупка недвижимости'
 'покупка коммерческой недвижимости' 'покупка жилой недвижимости'
 'строительство собственной недвижимости' 'недвижимость'
 'строительство недвижимости' 'на покупку подержанного автомобиля'
 'на покупку своего автомобиля' 'операции с коммерческой недвижимостью'
 'строительство жилой недвижимости' 'жилье'
 'операции со своей недвижимостью' 'автомобили' 'заняться образованием'
 'сделка с подержанным автомобилем' 'получение образования' 'автомобиль'
 'свадьба' 'получение дополнительного образования' 'покупка своего жилья'
 'операции с недвижимостью' 'получение высшего образования'
 'свой автомобиль' 'сделка с автомобилем' 'профильное образование'
 'высшее образование' 'покупка жилья для сдачи' 'на покупку автомобиля'
 'ремонт жилью' 'заняться высшим образованием']

Явные артефакты присутствуют только в столбце `children` — количество детей не может быть отрицательным. Также следует проверить значение 20 в столбце `children` и значение `XNA` в столбце `gender`.

Для начала найдём количество строк, в которых столбец `children` имеет значение "−1".

In [37]:
print(solvency[solvency['children'] == '−1']['children'].count())

47

Теперь просмотрим первые 15 строк с отрицательным числом в столбце `children`.

In [38]:
solvency[solvency['children'] == '−1'].head(15)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
288,−1,4417.703588,46,среднее,1,гражданский брак,1,F,сотрудник,0,102816.346412,профильное образование
701,−1,902.084528,50,среднее,1,женат / замужем,0,F,госслужащий,0,137882.899271,приобретение автомобиля
738,−1,3174.456205,57,среднее,1,женат / замужем,0,F,сотрудник,0,64268.044444,дополнительное образование
796,−1,1630.040900,54,среднее,1,Не женат / не замужем,4,F,пенсионер,0,86293.724153,дополнительное образование
937,−1,1630.040900,57,Среднее,1,женат / замужем,0,F,пенсионер,0,145017.937533,на покупку своего автомобиля
1356,−1,1195.264956,55,СРЕДНЕЕ,1,женат / замужем,0,F,компаньон,0,69550.699692,профильное образование
1919,−1,1461.303336,38,среднее,1,Не женат / не замужем,4,M,сотрудник,0,109121.569013,покупка жилья
2063,−1,2539.761232,42,среднее,1,в разводе,3,F,компаньон,0,162638.609373,покупка жилья
3795,−1,3045.290443,26,Среднее,1,гражданский брак,1,F,госслужащий,0,131892.785435,на проведение свадьбы
4180,−1,901.101738,41,среднее,1,женат / замужем,0,F,госслужащий,0,226375.766751,операции со своей недвижимостью
4381,−1,1630.040900,64,СРЕДНЕЕ,1,женат / замужем,0,F,пенсионер,0,163264.062064,покупка недвижимости
4521,−1,1811.899756,32,среднее,1,женат / замужем,0,F,сотрудник,0,160544.718446,образование
5248,−1,1143.485347,46,среднее,1,вдовец / вдова,2,F,сотрудник,0,278708.018820,покупка недвижимости
5989,−1,1361.258696,46,высшее,0,женат / замужем,0,F,сотрудник,0,143008.454914,строительство собственной недвижимости
6360,−1,1630.040900,48,среднее,1,вдовец / вдова,2,F,пенсионер,0,36052.447435,образование

Закономерностей в выведенных данных нет. Вероятно, `'−1'` в столбце `children` — это техническая ошибка. Её причиной мог послужить некорректный формат данных, введённых в базу (например, вместо ожидаемого числового значения в поле "Количество детей" сотрудник мог вписать слово "нет"), или же ошибка, возникшая при формировании выгрузки.

Строк с `'−1'` в столбце `children` немного, поэтому их можно просто удалить. Сразу же проверим, прошло ли удаление успешно.

In [39]:
children_rows_to_drop_indeces = solvency.index[solvency['children'] == '−1'].tolist()
solvency = solvency.drop(labels=children_rows_to_drop_indeces).reset_index(drop=True)
print('Количество строк с отрицательным числом детей:', solvency[solvency['children'] == '−1']['children'].count())

Количество строк с отрицательным числом детей: 0

Проверим, не является ли ошибкой значение "20" в столбце `children`. Для этого посмотрим, в скольких строках встречается это значение.

In [40]:
solvency[solvency['children'] == '20']['children'].count()

75

Такое большое количество клиентов с 20 детьми маловероятно. Вообще 20 детей — это [рекордно](https://reestrrekordov.ru/samaja-mnogodetnaja-semja-rossii/) много, такие случаи единичны. Это явная ошибка. Чтобы попробовать найти её причину, выведем первые 10 строк, у которых в столбце `children` стоит `'20'`.

In [41]:
solvency[solvency['children'] == '20'].head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
601,20,880.221113,21,среднее,1,женат / замужем,0,M,компаньон,0,145334.865002,покупка жилья
714,20,855.595512,44,среднее,1,женат / замужем,0,F,компаньон,0,112998.738649,покупка недвижимости
1064,20,3310.411598,56,среднее,1,женат / замужем,0,F,сотрудник,1,229518.537004,получение образования
2488,20,2714.161249,59,высшее,0,вдовец / вдова,2,F,сотрудник,0,264474.835577,операции с коммерческой недвижимостью
3276,20,1630.040900,35,среднее,1,Не женат / не замужем,4,F,госслужащий,0,145017.937533,профильное образование
3370,20,1630.040900,56,высшее,0,женат / замужем,0,F,компаньон,0,145017.937533,высшее образование
3645,20,913.161503,23,среднее,1,Не женат / не замужем,4,F,сотрудник,0,101255.492076,на покупку подержанного автомобиля
3671,20,2907.910616,40,среднее,1,гражданский брак,1,M,сотрудник,0,115380.694664,на покупку подержанного автомобиля
3708,20,805.044438,26,высшее,0,Не женат / не замужем,4,M,сотрудник,0,137200.646181,ремонт жилью
3849,20,8190.644409,45,среднее,1,гражданский брак,1,F,сотрудник,0,312270.145176,сделка с подержанным автомобилем

Закономерностей в выведенных данных найти не удаётся. Видимо, дело снова в технической ошибке. Наверное, ошибка формирования выгрузки. Более точно сказать сложно.

По отношению к общему числу строк количество строк, где число детей равно 20, немного. Удалим их так же, как делали раньше.

In [42]:
children_rows_to_drop_indeces = solvency.index[solvency['children'] == '20'].tolist()
solvency = solvency.drop(labels=children_rows_to_drop_indeces).reset_index(drop=True)
print('Количество строк, где количество детей равно 20:', solvency[solvency['children'] == '20']['children'].count())

Количество строк, где количество детей равно 20: 0

Теперь об аббревиатуре `'XNA'` в столбце `gender`. Посмотрим, как часто она встречается.

In [43]:
solvency[solvency['gender'] == 'XNA']['gender'].count()

1

1 раз — это совсем мало. Похоже, что речь в данном случае действительно идёт о человеке, определяющем себя небинарно. Не будем ничего делать с этой строкой.

На этом обработку артефактов можно считать законченной.

### Типы данных

<a id='minuses'></a>
Данные в столбце `children` имеют не удобный для анализа тип — строка. Причина понятна — в столбце раньше присутствовало значение `'−1'`, которое не было проинтерпретировано `pandas` как целочисленное. Дело в том, что перед цифрой 1 стоит не дефис-минус (U+002D), который служит для `pandas` маркером отрицательного значения, а минус (U+2212). Из-за этого значение интепретируется как строковое.

Сделаем столбец `children` целочисленным.

In [44]:
solvency['children'] = solvency['children'].astype('int')

Также было бы удобно, если бы доход и стаж имели целочисленный вид. Переведём их значения в новый тип.

In [45]:
solvency[['total_income', 'days_employed']] = solvency[['total_income','days_employed']].astype('int')

### Дубликаты

Проверим, сколько в таблице явных дубликатов. Для этого используем методы `duplicated()` и `sum()`.

In [46]:
solvency.duplicated().sum()

54

Теперь сведём некоторые неявные дубликаты к явным. [Выше](#unique_values_str) приводились списки уникальных значений строковых столбцов. По ним видно, что в столбце `education` много дубликатов, которые отличаются только регистром. Приведём все значения в этом столбце к нижнему регистру методом `str.lower()`.

In [47]:
solvency['education'] = solvency['education'].str.lower()

Проверим, изменилось ли количество явных дубликатов.

In [48]:
solvency.duplicated().sum()

71

<a id='purpose_duplicates'></a>
Можно было бы также устранить неявные дубликаты в столбце `purpose`, однако это может привести к потере потенциально важной информации. Так, значения `'автомобиль'` и `'автомобили'` можно считать дубликатами, но что, если в первом случае речь идёт об операции с одним автомобилем, а во втором случае — с несколькими автомобилями? Вместо удаления дубликатов по этому столбцу лучше ввести обобщающие категории. Так мы точно не потеряем информацию о клиентах.

Попробуем понять причину возникновения дубликатов. Выведем на экран первые 5 строк из таблицы `solvency_dupl`, куда мы сохранили все найденные дубликаты.

In [49]:
solvency_dupl = solvency[solvency.duplicated()]
solvency_dupl.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
2823,0,1630,41,среднее,1,женат / замужем,0,F,сотрудник,0,145017,покупка жилья для семьи
3260,0,1630,58,среднее,1,гражданский брак,1,F,пенсионер,0,145017,сыграть свадьбу
4142,1,1630,34,высшее,0,гражданский брак,1,F,сотрудник,0,145017,свадьба
4808,0,1630,60,среднее,1,гражданский брак,1,F,пенсионер,0,145017,свадьба
5506,0,1630,58,среднее,1,гражданский брак,1,F,пенсионер,0,145017,сыграть свадьбу

Похоже, **дубликаты возникли из-за замены пропусков и некоторых артефактов на медианные значения**. Проверим это, посмотрев уникальные значения по столбцам `days_employed` и `total_income` в таблице `solvency_dupl` и сравнив их с медианными значениями.

In [50]:
display(solvency_dupl.value_counts(['days_employed', 'total_income']))

print('Медиана, использованная для замены пропусков и артефактов в столбце days_employed:', days_employed_median)
print('Медиана, использованная для замены пропусков и артефактов в столбце total_income:', total_income_median)

days_employed  total_income
1630           145017          71
dtype: int64

Медиана, использованная для замены пропусков и артефактов в столбце days_employed: 1630.0408997010547
Медиана, использованная для замены пропусков и артефактов в столбце total_income: 145017.93753253992

В этих столбцах присутствуют только медианные значения. Гипотеза подтверждается.

Удалим найденные дубликаты методом `drop_duplicates()`. Сразу же обновим индексацию строк методом `reset_index()`, очистив старые индексы.

In [51]:
solvency = solvency.drop_duplicates().reset_index(drop=True)

Проверим, все ли явные дубликаты удалены.

In [52]:
solvency.duplicated().sum()

0

Удаление дубликатов прошло успешно.

### Категоризация данных

Создадим словари для типов образования — `education_dict` — и семейного статуса — `family_status_dict`. Сразу же удалим дубликаты, которые неизбежно появятся в них, обновим индексы строк и выведем оба словаря на экран.

In [53]:
education_dict = solvency[['education_id', 'education']]
family_status_dict = solvency[['family_status_id', 'family_status']]

education_dict = education_dict.drop_duplicates().reset_index(drop=True)
family_status_dict = family_status_dict.drop_duplicates().reset_index(drop=True)

display(education_dict.head())
display(family_status_dict.head())

   education_id            education
0             0               высшее
1             1              среднее
2             2  неоконченное высшее
3             3            начальное
4             4       ученая степень

   family_status_id          family_status
0                 0        женат / замужем
1                 1       гражданский брак
2                 2         вдовец / вдова
3                 3              в разводе
4                 4  Не женат / не замужем

Словари для типов образования и семейного статуса готовы.

Удалим из `solvency` столбцы `education` и `family_status`, оставив только их идентификаторы.

In [54]:
solvency = solvency.drop(columns=['education', 'family_status'])

Для экономии памяти целесообразным представляется ввести идентификаторы для типов дохода. Идентификаторы будут целочисленными, то есть, не являясь строковыми, они не будут иметь легко интепретируемого значения (в отличие от, например, классов по размеру дохода (см. ниже)). Отказ от введения значащих идентификаторов типов доходов связан с тем, что по этому столбцу сложно однозначно ранжировать платёжеспособность клиентов, так что нагружать идентификаторы какими-то самостоятельными смыслами просто незачем.

Создадим таблицу `income_type_dict` со столбцами `income_type_id` и `income_type`. Сразу же выведем её на экран.

In [55]:
income_type_dict = pd.DataFrame(data={
    'income_type_id': [i for i in range(len(solvency['income_type'].unique()))],
    'income_type': solvency['income_type'].unique()
    })
income_type_dict

   income_type_id      income_type
0               0        сотрудник
1               1        пенсионер
2               2        компаньон
3               3      госслужащий
4               4      безработный
5               5  предприниматель
6               6          студент
7               7        в декрете

Не будем удалять из таблицы столбец `income_type` и добавлять новый столбец `income_type_id`. Вместо этого просто заменим значения в `income_type` на соответствующие им идентификаторы, а затем переименуем его.

Для выполнения замены создадим функцию `replace_value_with_id`. В качестве аргументов она будет принимать значение из столбца изначальной таблицы и словарь, соотносящий идентификатор и значение из столбца. Чтобы возвращаемое значение было целым числом, а не `Series`, воспользуемся атрибутом `values`.

In [56]:
def replace_value_with_id(old_value, dictionary):
    id_column = dictionary.columns[0]
    values_column = dictionary.columns[1]
    new_value = dictionary.loc[dictionary[values_column] == old_value, id_column].values[0]
    return new_value

Проверим, корректно ли работает функция. Подадим ей на вход значение `'госслужащий'`. Если всё в порядке, то она вернёт значение `3`.

In [57]:
replace_value_with_id('госслужащий', income_type_dict)

3

In [58]:
solvency['income_type'].head().map({x: y for y, x in enumerate(solvency['income_type'].unique())})

0    0
1    0
2    0
3    0
4    1
Name: income_type, dtype: int64

Функция работает корректно.

Заменим тип дохода в таблице `solvency` на его идентификатор методом `apply()`. Сразу заменим название столбца `income_type` на `income_type_id`.

In [59]:
solvency['income_type'] = solvency['income_type'].apply(replace_value_with_id, dictionary=income_type_dict)
solvency = solvency.rename(columns={'income_type': 'income_type_id'})

Проверим результат переименования.

In [60]:
solvency.columns

Index(['children', 'days_employed', 'dob_years', 'education_id',
       'family_status_id', 'gender', 'income_type_id', 'debt', 'total_income',
       'purpose'],
      dtype='object')

Переименование прошло успешно.

Теперь классифицируем клиентов по размеру дохода. Введём следующие категории:
* 0–30000 — `'E'`;


* 30001–50000 — `'D'`;


* 50001–200000 — `'C'`;


* 200001–1000000 — `'B'`;


* 1000001 и выше — `'A'`.

Очевидно, что буква, соответствующая той или иной категории, позволяет примерно оценить уровень платёжеспособности клиента. Именно поэтому используются буквенные, а не числовые идентификаторы.

Напишем функцию `match_income_category`, которая будет определять, к какой категории относится клиент по размеру своего дохода. Её аргументом будет являться значение из столбца `total_income`. Возвращать же она будет категорию по размеру, к которой относится данный клиент.

In [61]:
def match_income_category(value):
    if value <= 30000:
        return 'E'
    if 30001 <= value <= 50000:
        return 'D'
    if 50001 <= value <= 200000:
        return 'C'
    if 200001 <= value <= 1000000:
        return 'B'
    if  value >= 1000001:
        return 'A'

Проверим, правильно ли работает функция. Создадим список `test_values` из значений `5000000`,`800000`,`100000`,`40000` и `20000`. Запустим функцию в цикле. Если всё в порядке, то в итоге будет напечатан список `['A', 'B', 'C', 'D', 'E']`.

In [62]:
test_values = [5000000, 800000, 100000, 40000, 20000]
test_result = []

for value in test_values:
    test_result.append(match_income_category(value))
    
test_result

['A', 'B', 'C', 'D', 'E']

Функция работает корректно. Используем её для создания нового столбца c категориями по размеру дохода `total_income_category`, применив метод `apply()` к столбцу `total_income`.

In [63]:
solvency['total_income_category'] = solvency['total_income'].apply(match_income_category)

Теперь стоит категоризировать данные из столбца `purpose`. Как уже [говорилось](#purpose_duplicates), в нём много значений, которые близки друг к другу по смыслу. Чтобы было проще анализировать данные, введём следующие категории целей:
* `‘операции с автомобилем’`,


* `‘операции с недвижимостью’`,


* `‘проведение свадьбы’`,


* `‘получение образования’`.

Напишем функцию `match_purpose_category`, которая будет определять категорию цели данного клиента по ключевой подстроке из столбца `purpose`.  Её аргументом будет являться строка из столбца `purpose`. Возвращать же она будет категорию, к которой относится цель получения кредита данным клиентом.

Ключевые подстроки выделим, проанализировав [уникальные значения](#unique_values_str) в столбце `purpose`. Это будут:

* для категории `‘операции с автомобилем’` — `'автомобил'`;


* для категории `‘операции с недвижимостью’` — `'недвижимост'` и `'жиль'`;


* для категории `‘проведение свадьбы’` — `'свадьб'`;


* для категории `‘получение образования’` — `'образовани'`.

In [64]:
def match_purpose_category(string):
    if 'автомобил' in string:
        return 'операции с автомобилем'
    if 'недвижимост' in string or 'жиль' in string:
        return 'операции с недвижимостью'
    if 'свадьб' in string:
        return 'проведение свадьбы'
    if 'образовани' in string:
        return 'получение образования'

Проверим, правильно ли работает функция. Перезапишем значения списка `test_values`, сохранив туда строки `получить образование`,`провести свадьбу`,`купить недвижимость`,`купить жильё` и `купить автомобиль`. К этому списку в цикле применим функцию. Если она работает верно, то на экран будет выведен список `['получение образования', 'проведение свадьбы', 'операции с недвижимостью', 'операции с недвижимостью', 'операции с автомобилем']`.

In [65]:
test_values = ['получить образование', 'провести свадьбу', 'купить недвижимость', 'купить жильё', 'купить автомобиль']
test_result = []

for string in test_values:
    test_result.append(match_purpose_category(string))
    
test_result

['получение образования',
 'проведение свадьбы',
 'операции с недвижимостью',
 'операции с недвижимостью',
 'операции с автомобилем']

Функция работает корректно. Используем её в методе `apply()`, чтобы создать новый столбец с категориями целей `purpose_category` на основе столбца `purpose`.

In [66]:
solvency['purpose_category'] = solvency['purpose'].apply(match_purpose_category)

Проверим, не осталось ли в таблице строк, для которых не подобрана категория цели. Для этого выведем на экран список уникальных значений столбца `purpose_category`.

In [67]:
solvency['purpose_category'].unique()

array(['операции с недвижимостью', 'операции с автомобилем',
       'получение образования', 'проведение свадьбы'], dtype=object)

Цели во всех строках успешно категоризированы.

**Промежуточные выводы**

В ходе предобработки данных были выявлены и устранены 4 типа проблем в данных о платёжеспособности клиентов: пропуски, артефакты, неверные типы данных и дубликаты значений. Проблемы встречались в столбцах `children`, `days_employed`, `dob_years`, `education` и `total_income`. По всей видимости, все они были связаны с проблемами технического характера: проблема с десятичным разделителем, ошибки в алгоритмах расчёта стажа, неверно распознанные символы, ошибки операторов базы данных и т.п.

Кроме того, была введена категоризация по столбцам с идентификаторами и целью кредита.

Устранение проблем и категоризация позволили привести данные к виду, удобному для анализа.

## Проверка гипотез

В соответствии с заданием, необходимо проверить следующие четыре гипотезы:

1. Есть ли зависимость между количеством детей и возвратом кредита в срок?


2. Есть ли зависимость между семейным положением и возвратом кредита в срок?


3. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?


4. Как разные цели кредита влияют на его возврат в срок?

### Зависимость между количеством детей и возвратом кредита в срок

<a id='means_calc'></a>
Чтобы проверить гипотезу о зависимости между своевременным возвратом кредита и количеством детей у клиента, рассчитаем среднее значение по столбцу `debt` для каждого из уникальных значений числа детей. Чем меньше соответствующее среднее значение, тем меньшее количество невозвратов кредита в срок у данной категории клиентов, и наоборот.

В целях данного исследования будем считать, что среднее по столбцу `debt` является показателем средней платёжеспособности.

Результат представим в виде сводной таблицы `pivot_debt_vs_children`. Сразу выведем её на экран.

In [68]:
pivot_debt_vs_children = solvency.pivot_table(index=['children'], values='debt', aggfunc=['mean', 'sum'])
pivot_debt_vs_children

              mean   sum
              debt  debt
children
0         0.075453  1058
1         0.092028   441
2         0.095145   194
3         0.082317    27
4         0.097561     4
5         0.000000     0

In [69]:
df_example = solvency.pivot_table(index = 'children', values = 'debt', 
                            aggfunc = ['count', 'sum', 'mean', lambda x: 1 - x.mean()])
df_example.columns = ['Кол-во пользователей', 'Кол-во должников', '% должников', '% НЕдолжников']
df_example.style.format({'% должников': '{:.2%}', '% НЕдолжников': '{:.2%}'})

<a id='check_means'></a>
Прежде чем делать выводы, проверим адекватность полученных средних значений "на глаз". 

Логично, что чем больше выборка, тем в большей степени рассчитанное по ней среднее значение соответствует среднему по генеральной совокупности. Делать выводы о генеральной совокупности по небольшим выборкам не разумно.

Посмотрим, какое количество клиентов представлено в каждой из шести категорий из таблицы выше.

In [70]:
solvency['children'].value_counts()

0    14022
1     4792
2     2039
3      328
4       41
5        9
Name: children, dtype: int64

Выборки для последних двух категорий явно малы, поэтому мы не будем принимать во внимание рассчитанные по ним средние.

По приведённым выше средним значениям можно сделать два наблюдения:

1. Наличие детей у клиента действительно влияет на то, будет ли кредит возвращен им в срок. Среднее значение дамми-переменной `debt` для клиентов без детей заметно ниже, чем у тех клиентов, у которых дети есть.

 
2. Нельзя утверждать, что появление у клиента второго или третьего ребёнка приводит к росту вероятности невыплаты им кредита в срок. Значение среднего в категории "Клиенты с двумя детьми" лишь незначительно выше, чем в категории "Клиенты с одним ребёнком", а для категории "Клиенты с тремя детьми" среднее и вовсе ниже.

**Вывод**

Гипотеза подтверждается лишь частично. В среднем при прочих равных платёжеспособность клиента, у которого есть дети, ниже, чем у клиента без детей, но при этом платёжеспособность значительно не отличается у клиентов с разным количеством детей.

### Зависимость между семейным положением и возвратом кредита в срок

Исследуем гипотезу о наличии зависимости между своевременным погашением кредита и семейным положением клиента. Сделаем это [так же](#means_calc), как и при проверке предыдущей гипотезы.

Средние значения сохраним в сводной таблице `pivot_debt_vs_family_status`. Перед выводом на экран добавим в неё столбец `family_status` для наглядности. Сделаем это методом `merge()`.

In [71]:
pivot_debt_vs_family_status = solvency.pivot_table(index=['family_status_id'], values='debt', aggfunc='mean')
pivot_debt_vs_family_status = family_status_dict.merge(right=pivot_debt_vs_family_status, on='family_status_id', how='left')
pivot_debt_vs_family_status

   family_status_id          family_status      debt
0                 0        женат / замужем  0.075575
1                 1       гражданский брак  0.093119
2                 2         вдовец / вдова  0.065539
3                 3              в разводе  0.071247
4                 4  Не женат / не замужем  0.097842

Как и в случае [предыдущей](#check_means) гипотезы, "на глаз" проверим адекватность рассчитанных средних.

In [72]:
solvency['family_status_id'].value_counts()

0    12213
1     4113
4     2780
3     1179
2      946
Name: family_status_id, dtype: int64

Для всех категорий семейного статуса выборка достаточно большая, поэтому будем считать рассчитанные для них средние соответствующими генеральной совокупности.

По рассчитанным средним можно сделать такие наблюдения (в среднем при прочих равных):

* холостые клиенты и клиенты, состоящие в гражданском браке, чаще других не погашают кредит в срок;


* разведённые и женатые/замужние клиенты реже допускают просрочки;


* наименее склонны нарушать сроки возврата кредита вдовствующие клиенты.

**Вывод**

Гипотеза подтверждается: зависимость между семейным положением и возвратом кредита в срок действительно есть.

### Зависимость между уровнем дохода и возвратом кредита в срок

Рассмотрим гипотезу о наличии зависимости между уровнем дохода и своевременным погашением кредита. Сделаем это [так же](#means_calc), как и в предыдущих случаях. Для группировки будем использовать столбец `total_income_category`.

Средние значения сохраним в сводной таблице `pivot_debt_vs_income`. Сразу напечатаем её на экране.

In [73]:
pivot_debt_vs_income = solvency.pivot_table(index=['total_income_category'], values='debt', aggfunc='mean')
pivot_debt_vs_income

                           debt
total_income_category
A                      0.080000
B                      0.070784
C                      0.084921
D                      0.060519
E                      0.090909

Как и в случае [предыдущих](#check_means) гипотез, "на глаз" проверим адекватность рассчитанных средних.

In [74]:
solvency['total_income_category'].value_counts()

C    15850
B     4987
D      347
A       25
E       22
Name: total_income_category, dtype: int64

Для "хвостовых" категорий `A` и `E` размер выборки очень небольшой, поэтому мы не будем принимать во внимание рассчитанные по ним значения.

По рассчитанным средним для категорий `B`, `C` и `D` видно, что при снижении уровня дохода не происходит однозначного увеличения вероятности невозврата кредита в срок.

**Вывод**

Гипотеза *не* подтверждается: зависимости между уровнем дохода и своевременным погашением кредита нет.

Впрочем, этот вывод не следует считать окончательным. Дело в том, что исход проведённой нами проверки гипотезы в значительной степени зависит от выбранного ранее способа выделения категорий по доходу. Если бы мы выбрали для них другие граничные значения или ввели бы дополнительные категории, результат мог бы быть другим.

Для проверки этой гипотезы лучше подошли бы эконометрические методы (это утверждение в общем-то касается и проверки всех остальных гипотез).

### Зависимость между целью кредита и возвратом кредита в срок

Проверим гипотезу о наличии зависимости между целью кредита и возвратом кредита в срок [так же](#means_calc), как проверяли другие гипотезы. Для группировки будем использовать столбец `purpose_category`.

Средние значения сохраним в сводной таблице `pivot_debt_vs_purpose`. Сразу напечатаем её на экранe.

In [75]:
pivot_debt_vs_purpose = solvency.pivot_table(index=['purpose_category'], values='debt', aggfunc='mean')
pivot_debt_vs_purpose

                              debt
purpose_category
операции с автомобилем    0.093236
операции с недвижимостью  0.072590
получение образования     0.092947
проведение свадьбы        0.078730

Как и в случае [предыдущих](#check_means) гипотез, "на глаз" проверим адекватность рассчитанных средних.

In [76]:
solvency['purpose_category'].value_counts()

операции с недвижимостью    10704
операции с автомобилем       4258
получение образования        3970
проведение свадьбы           2299
Name: purpose_category, dtype: int64

Для всех категорий цели выборка достаточно большая, поэтому будем считать рассчитанные для них средние соответствующими генеральной совокупности.

По рассчитанным средним можно сделать такой вывод (в среднем при прочих равных): клиенты, которые берут кредит для получения образования или операций с автомобием, чаще не погашают кредит в срок, чем клиенты, которые намереваются использовать кредит для проведения свадьбы или операций с недвижимостью.

**Вывод**

Гипотеза подтверждается: цель кредита и возврат кредита в срок действительно взаимосвязаны.

## Итоги исследования

В начале исследования была проведена предобработка данных. В ходе неё были выполнены следующие операции:

1. *Обнаружены и заполнены пропуски в столбцах `days_employed` и `total_income`*. Пропуски в стобце `days_employed` были заполнены медианой по положительным значениям столбца с предварительно исключенными артефактами, а в столбце `total_income` — медианами по столбцу, рассчитанными по типам дохода из столбца `income_type`.


2. *Обнаружены и устранены артефакты*. В столбце `days_employed` были устранены неправдоподобно большие значения (заменены на медиану по положительным значениям столбца) и отрицательные значения (умножены на `-1`). Были удалены строки с нулевыми значениями в столбце `dob_years`, а также с отрицательными (точнее, текстовыми) и неправдобно большими значениями в столбце `children`. 


3. *Исправлены типы данных в столбцах `children`, `total_income`, `days_employed`.* Значения в этих столбцах были приведены к целочисленному формату.


4. *Устранены дубликаты, возникшие из-за заполнения некоторых ячеек медианными значениями.*


5. *Была проведена категоризация данных*. Выделены категории по размеру дохода. Также категориальные строковые значения в столбцах `education`, `family_status` и `income_type` заменены числовыми идентификаторами.

Затем мы проверили четыре гипотезы и установили:

1. *Наличие детей у заёмщика влияет на его или её платёжеспособность*. В то же время их количество не имеет большого значения с точки зрения платёжеспособности.


2. *Семейное положение влияет на платёжеспособность заёмщика*. Чаще всего не выплачивают кредит в срок неженатые/незамужние и разведённые клиенты, а реже всего — вдовы и вдовцы.


3. *Уровень дохода **не** влияет на  платёжеспособность заёмщика*. Данный вывод, однако, может быть искажённым в силу несовершенства доступных методов проверки гипотезы.


4. *Цель кредита влияет на платёжеспособность заёмщика*. К непогашению кредита в срок наиболее склонны те клиенты, которые берут его с целью операций с автомобилем или получения образования, а наименее склонны те, кто занимает для проведения операций с недвижимостью.

Эту информацию необходимо учитывать при подборе условий кредита и принятии решения о его предоставлении. Кроме того, она пригодится для формирования линейки продуктов банка и маркетинга.

**Рекомендации**

1. *Проверить возможные ошибки в интерпретации десятичного разделителся программой, формирующей выгрузку.* Пропуски возникли, вероятно, из-за формата десятичного разделителя, использованного при вводе данных и неверно обработанного при формировании выгрузки. Это хорошо бы проверить. Если эта ошибка возникла до формирования выгрузки, то стоит проверить исходную базу данных банка на предмет отсутствующих значений.


2. *Проверить алгоритм расчёта стажа*. Есть впечатление, что отрицательные значения стажа возникли из-за того, что в алгоритме его расчёте перепутаны местами уменьшаемое и вычитаемое.


3. *Проверить, какие значения в столбце `children` при формировании выгрузки (или в самой базе данных) заменяются на `'−1'`.* Не теряются ли из-за этого какие-то данные? И ещё стоит заменить заполнитель на какой-нибудь другой целочисленный. Например, `-1` [подойдёт](#minuses).


4. *Проверить, на каком этапе и из-за чего возникают неправодобно большие значения стажа и количества детей, а также нулевой возраст.*